@use "../utilities/variables" as *;

.about {
    padding: 80px 8%;
}

.about .container {
    width: 100%;
}

.about-content {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    gap: 80px;
    width: 100%;
}

/* FOTO */

.about-image {
    width: 280px;
    min-width: 280px;
    height: 350px;
}

.about-image img {
    display: block;
    width: 280px !important;
    height: 350px !important;
    object-fit: cover;
    border-radius: $radius-md;
}

/* TEXTO */

.about-content article {
    width: auto;
    max-width: 600px;
    flex: 0 1 600px;
}

.about-content article h1 {
    margin: 0 0 30px 0;
}

.about-content article p {
    margin: 0;
    font-size: 1.1rem;
    line-height: 1.7;
}


/* CELULAR */

@media (max-width: 767px) {

    .about-content {
        flex-direction: column;
        align-items: center;
        gap: 40px;
    }

    .about-image {
        width: 220px;
        min-width: 220px;
        height: 280px;
    }

    .about-image img {
        width: 220px !important;
        height: 280px !important;
    }

    .about-content article {
        width: 100%;
        max-width: 600px;
        text-align: center;
    }

}