// Colores
$background: #0F172A;
$surface: #1E293B;
$text: #F8FAFC;
$text-secondary: #94A3B8;
$accent: #A78BFA;

// Tipografía
$font-main: "Geist", sans-serif;

// Bordes
$radius-sm: 12px;
$radius-md: 16px;
$radius-lg: 20px;

// Espaciados
$spacing-sm: 10px;
$spacing-md: 20px;
$spacing-lg: 30px;
$spacing-xl: 40px;

// Transiciones
$transition: 0.3s;