@use "../utilities/variables" as *;

%button-base {
    display: inline-block;
    margin-top: $spacing-lg;
    padding: 14px 28px;
    border-radius: $radius-sm;
    text-decoration: none;
    font-weight: 600;
    transition: $transition;
}

.btn {
    @extend %button-base;

    background: $accent;
    color: $background;

    &:hover {
        transform: translateY(-5px);
        box-shadow: 0 10px 20px rgba(0, 0, 0, 0.25);
    }

    &:active {
        transform: translateY(0);
    }
}